.example-card {
    max-width: 500px;
}

.section {
    font-weight: bold;
    margin-right: 10px;
    width: 100% !important;
    float: left;
}

.title {
    font-weight: bold;
    margin-right: 10px;
}