.margin-bottom {
    margin-bottom: 15px;
}

.title {
    font-weight: bold;
    margin-right: 10px;
}

.todos-dados {
    text-decoration: underline;
    color: lightseagreen;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}

.btn-pesquisar {
    margin-left: 20px;
}